body {
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    
    
}
.btn {
    padding: 10px 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold;

}
.underline {
    border-bottom: 5px solid white;
}
#main-logo {
    width: 100px;
    height: auto;
}

#hero {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2hhcGwwZmVwbWt3b2d6cWd5Z25rOWkyMmIwNW5wcWNjYXJrcjB5NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/zMaCuiamKtuMM/giphy.gif");
    background-size: cover;

    padding: 10px 0 40px 0;

}
.m {
color: black;
}

#hero h1 {
    font-size: 50px;
    text-shadow: 10px -10px 10px #000000;
}

#title {
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}